/*General Setup */
html, body {
    margin: 0;
    padding: 0;
    
  }
  
  html {
    font-size: 10px;
    background-color: #190707;
  }
  title{font-size: 50px;
    font-family: 'Nunito Sans';
    background-color: antiquewhite;
      
  }

  body {
    background: paleturquoise;
    width: 70%;
    min-width: 960px;
    margin: 0 auto;
    color: rgb(89, 172, 69)
  }

  /* || header layout */

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 15px;

  }

  .header img {
    max-width: 50px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display:flex;
  align-content: space-between;
}
.img{
  display: flex;
  align-items: end;
  flex-direction: column;
}
img{
  border:1px solid yellow;
  border-radius: 4px;
}
.content{
  max-width: 960px;
  display: flex;
  flex-direction: column;
  width:66%
}
h2{
  font-family: sans-serif;
}
  
  
@media only screen and (max-width: 1000px){
  .wrapper{
    display:flex;
    align-items:center;
  }
  .img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap;
  }
}